{
  "Id": "158364616",
  "AccountId": "105011440",
  "WebPropertyId": "UA-105011440-1",
  "InternalWebPropertyId": "156820587",
  "Name": "All Web Site Data",
  "Currency": "USD",
  "Timezone": "Etc/GMT",
  "WebsiteUrl": "http://www.ailsby.com",
  "Type": "WEB",
  "Created": "2017-08-21T08:28:00.534+01:00",
  "Updated": "2017-08-21T08:28:00.534+01:00"
}