<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT rankOneSeoComposition ANY>
<!ATTLIST rankOneSeoComposition id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1063" key="2b7367c4-ee1c-4c29-bc0d-e6658ded7b3b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-09-14T22:20:02" updateDate="2022-01-19T09:46:36" nodeName="EN" urlName="en" path="-1,1063" isDoc="" nodeType="1060" creatorName="Nick" writerName="John Ailsby" writerID="1" template="1056" nodeTypeAlias="Home">
    <siteLogo><![CDATA[1106]]></siteLogo>
    <emailErrorMessage><![CDATA[Error. Please try calling us on the number shown.]]></emailErrorMessage>
    <umbEmailTo><![CDATA[post@ailsby.com]]></umbEmailTo>
    <siteTitle><![CDATA[Ailsby Limited | Language services]]></siteTitle>
    <emailSendingMessage><![CDATA[Sending your message...]]></emailSendingMessage>
    <siteDescription><![CDATA[Ailsby Limited specialists in German<>English intellectual property law translations. Established in 2004]]></siteDescription>
    <emailSuccessMessage><![CDATA[Thanks! we will get back to you soon.]]></emailSuccessMessage>
    <service1><![CDATA[<h3>Quality</h3>
<p style="text-align: left;">We have specialised in the areas of trade mark law, copyright law, design law and competition law since 2004. Our in-depth knowledge enables us to produce high-quality translations. This enables you to:</p>
<ul>
<li style="text-align: left;">communicate complex legal arguments effectively</li>
<li style="text-align: left;">save time editing the translated document</li>
<li style="text-align: left;">impress your clients</li>
</ul>]]></service1>
    <service3><![CDATA[<h3>Value for Money</h3>
<p style="text-align: left;">Costs are important to any business, even where they are passed on to the client. Our efficient processes and specialist resources, developed over many years, enable us to offer unsurpassed value from our main product, "content translation":</p>
<ul>
<li style="text-align: left;">high quality, high speed, reasonable rates</li>
<li style="text-align: left;">specially designed for copyright, trade mark and competition law translations</li>
</ul>]]></service3>
    <serviceIcon1><![CDATA[check]]></serviceIcon1>
    <service2><![CDATA[<h3>Urgency</h3>
<p style="text-align: left;"><span>We understand that in this field in particular time is often a factor, for example when obtaining injunctions, filing protective letters, responding to notifications. We can:</span></p>
<p style="text-align: left;"><span></span></p>
<ul>
<li style="text-align: left;">help maximise your preparation time<span></span></li>
<li style="text-align: left;">work on draft versions and add revisions later</li>
<li style="text-align: left;">prevent unnecessary waiting for translations</li>
</ul>]]></service2>
    <serviceIcon3><![CDATA[euro]]></serviceIcon3>
    <linkedinAccount2><![CDATA[https://uk.linkedin.com/in/john-ailsby]]></linkedinAccount2>
    <position1><![CDATA[Director - Translations]]></position1>
    <teamMember1Details><![CDATA[Adam is responsible for ensuring the technical quality of our translations. This involves overseeing the entire process in detail. Huge importance is also placed on continuous research and learning, maintaining resources, and much more.]]></teamMember1Details>
    <teamMember2Details><![CDATA[Responsible for the smooth daily running of the business, John ensures the highest standards of service are provided. This involves managing client communication, job scheduling and resource management as well as all technical and accounting matters. John is also involved with translation quality control.]]></teamMember2Details>
    <name1><![CDATA[Adam Ailsby]]></name1>
    <teamMember2Image><![CDATA[1170]]></teamMember2Image>
    <name2><![CDATA[John Ailsby]]></name2>
    <sectionTitle><![CDATA[The Partners]]></sectionTitle>
    <sectionDescription><![CDATA[Ailsby Ltd delivers the highest quality German-English-German translations in our field with the highest level of client service. Our clients value the in-depth specialist knowledge, efficiency and reliability we offer. Our translations reflect the quality of service you provide to your clients.]]></sectionDescription>
    <position2><![CDATA[Director - Operations]]></position2>
    <teamMember1><![CDATA[1166]]></teamMember1>
    <phoneFromUK><![CDATA[07921 523376]]></phoneFromUK>
    <bostonAddress><![CDATA[Ailsby Ltd, The Golf Yard, Boston, Lincolnshire. PE21 0DP]]></bostonAddress>
    <phoneFromGermany><![CDATA[+44 (0) 7921 523376]]></phoneFromGermany>
    <sectionTitleContact><![CDATA[Contact us]]></sectionTitleContact>
    <sectionDescriptionContact><![CDATA[We are trusted by major law firms, commercial right-holders and industry associations. Contact us to discuss your needs.]]></sectionDescriptionContact>
    <belfastAddress><![CDATA[Ailsby Ltd, 698 Ravenhill Road, Belfast, BT6 0BZ]]></belfastAddress>
    <descriptionLegal><![CDATA[<div class="contact-details">
<div class="contact-details">
<ol type="1"></ol>
<h4>Offices:</h4>
<p><strong>Belfast:</strong><br />698 Ravenhill Road, Belfast, BT6 0BZ</p>
<p><strong>Boston:</strong><br />The Golf Yard, Boston, Lincolnshire. PE21 0DP</p>
<h4>Telephone:<br /><strong>+44 (0) 7921 523376</strong></h4>
</div>
</div>]]></descriptionLegal>
    <descriptionTerms><![CDATA[<div class="contact-details">
<div class="contact-details"></div>
<p class="lead">A copy of our terms and conditions in English is available on request.</p>
<h2>I. Gegenstand des Unternehmens</h2>
<p>Der Gegenstand des Unternehmens umfasst die Übersetzung  von  schriftlichen und mündlichen Texten (Dolmetschen), sonstige Sprachdienstleistungen sowie damit verwandte und verbundene Leistungen.</p>
<h2>II. Geltungsbereich</h2>
<ol type="1">
<li>Für alle mit dem Unternehmen abzuschließenden / abgeschlossenen erstmaligen, laufenden und künftigen Geschäfte gelten ausschließlich die nachfolgenden Bedingungen. Das Unternehmen erkennt von den vorliegenden Allgemeinen Geschäftsbedingungen abweichende Bedingungen des Auftraggebers nicht an. Diese werden selbst dann nicht Vertragsbestandteil, wenn das Unternehmen ihnen nicht ausdrücklich widerspricht.</li>
<li>Mit der Erteilung des Auftrags wird die ausschließliche Gültigkeit dieser Geschäftsbedingungen durch den Auftraggeber anerkannt.</li>
</ol>
<h2>III. Vertragsabschluss /-durchführung</h2>
<ol type="1">
<li>Der Vertrag kommt entweder mit Herrn Adam Ailsby oder Herrn John Ailsby zustande.</li>
<li>Der Vertrag zwischen Herrn Adam Ailsby bzw. Herrn John Ailsby und dem Auftraggeber kommt entweder durch eine schriftliche Auftragsbestätigung per Brief, Fax oder E-Mail seitens Herrn Adam Ailsby oder Herrn John Ailsby oder durch Erfüllung des Auftrages durch Herrn Adam Ailsby oder Herrn John Ailsby zustande.</li>
<li>Das Unternehmen hat das Recht, noch nicht bestätigte Aufträge auch ohne Angabe von Gründen abzulehnen.</li>
<li>Vom Auftraggeber mündliche erteilte Aufträge und Auftragsänderungen bereits bestätigter Aufträge werden nur wirksam, wenn sie von Herrn Adam Ailsby oder Herrn John Ailsby schriftlich bestätigt werden.</li>
<li>Für die Verträge gelten die im Zeitpunkt des Vertragsschlusses jeweils gültigen Preislisten des Unternehmens.</li>
<li>Besteht der Auftraggeber aus einer Personenmehrheit, so ist jede einzelne Person dieser Personenmehrheit zur Entgegennahme von rechtsgestaltenden Erklärungen bzw. Entgegennahme mit Erfüllungswirkung berechtigt.</li>
<li>Vertragssprache ist deutsch.</li>
</ol>
<h2>IV. Pflichten des Auftraggebers</h2>
<ol type="1">
<li>Der Auftraggeber hat das Unternehmen rechtzeitig über die gewünschte Ausführungsform der Übersetzung zu unterrichten, insbesondere hat er Informationen zum Verwendungszweck, Lieferung auf Datenträgern, Anzahl der Ausfertigungen, Druckreife, äußere Form der Übersetzungen zu erteilen.</li>
<li>Ist die Übersetzung für den Druck bestimmt, überlässt der Auftraggeber dem Unternehmen einen Korrekturabzug rechtzeitig vor Drucklegung, sodass das Unternehmen eventuelle Fehler beseitigen kann. Namen und Zahlen sind vom Auftraggeber zu überprüfen.</li>
<li>Informationen und Unterlagen, die zur Erstellung der Übersetzung notwendig sind, stellt der Auftraggeber dem Unternehmen bei Erteilung des Auftrags zur Verfügung.</li>
<li>Der Auftraggeber trägt das Risiko für die Übermittlung der Übersetzung, soweit nicht aus dem Risikobereich des Unternehmens Probleme bei der Übermittlung auftreten.</li>
<li>Können Übersetzungsaufträge aus Gründen, die im Risikobereich des Auftraggebers liegen, nicht oder nur fehlerhaft durchgeführt werden, wird die Übersetzung dem Auftraggeber gleichwohl in Rechnung gestellt. Trifft das Unternehmen keinerlei Verschulden an der fehlerhaften Ausführung oder der Nichtausführung, so hat der Auftraggeber keine Ansprüche gegen das Unternehmen.</li>
<li>Der Auftraggeber ist nicht berechtigt, ohne ausdrücklich vorherige Zustimmung des Unternehmens Recht oder Pflichten aus dem Vertrag an Dritte abzutreten oder zu übertragen.</li>
<li>Der Auftraggeber stellt das Unternehmen von allen Kosten und Ansprüchen Dritter frei, die aus der Verletzung urheber-, wettbewerbs-, presse-, strafrechtlicher oder sonstiger rechtlicher Bestimmungen bei dem Unternehmen entstehen können.</li>
<li>Für die Abnahme der Übersetzung gilt § 640 BGB. Die Abnahme gilt als erfolgt, wenn der Auftraggeber die Übersetzung nicht binnen 10 Werktagen ab Mitteilung des Unternehmens an den Auftraggeber über die vertragsgemäße Erstellung der Übersetzung abnimmt.</li>
</ol>
<h2>V. Leistungserbringung / Mitwirkung Dritter</h2>
<ol type="1">
<li>Das Unternehmen verpflichtet sich, Stillschweigen über alle Tatsachen zu wahren, die ihm im Zusammenhang mit einer Tätigkeit für den Auftraggeber bekannt werden.</li>
<li>Bei elektronischer Übertragung der Übersetzungsleistungen verpflichtet sich das Unternehmen, alle typischerweise üblichen Vorkehrungen gegen Datenmissbrauch oder Viren zu treffen.</li>
<li>Das Unternehmen behält sich ein etwa entstandenes Urheberrecht vor.</li>
<li>Das Unternehmen ist berechtigt, zur Ausführung des Auftrags Dritte heranzuziehen. Bei Heranziehung von Dritten hat das Unternehmen dafür zu sorgen, dass sich diese zur Verschwiegenheit entsprechend Nr. 1. verpflichten.</li>
</ol>
<h2>VI. Gewährleistung / Haftung</h2>
<ol type="1">
<li>Der Auftraggeber ist verpflichtet, die Übersetzung unverzüglich nach Übergabe zu prüfen. Der Auftraggeber, der Verbraucher ist, hat offensichtliche Mängel spätestens innerhalb von zwei Wochen ab Übergabe schriftlich zu reklamieren, wobei die fristgemäße Absendung der Anzeige durch den Auftraggeber für die Wahrung der Frist ausreichend ist. Der Auftraggeber, der Unternehmer ist, ist verpflichtet offensichtliche Mängel spätestens innerhalb einer Woche ab Übergabe schriftlich zu reklamieren, wobei es für die Fristwahrung auf den Eingang der Anzeige bei dem Unternehmen ankommt. Erfolgt die Reklamation nicht rechtzeitig, entfallen die Gewährleistungsansprüche des Auftraggebers. Für nicht offensichtliche Mängel entspricht die Rügefrist der gesetzlichen Verjährungsfrist.</li>
<li>Bei Vorliegen eines Mangels ist das Unternehmen berechtigt, Nacherfüllung vorzunehmen. Erst wenn die Nacherfüllung unmöglich, mindestens zweimal fehlgeschlagen oder unzumutbar verzögert ist oder seitens des Unternehmens trotz angemessener Fristsetzung durch den Auftraggeber verweigert wurde, kann der Auftraggeber wahlweise vom Vertrag zurücktreten oder die Vergütung mindern. Das Recht auf Selbstvornahme oder Mängelbeseitigung durch Dritte ist ausgeschlossen.</li>
<li>Ein Mangel im vorgenannten Sinne liegt nicht vor, wenn allein die Darstellung der Übersetzung beanstandet wird.</li>
<li>Sollten Mängel bei der Ausführung eines Auftrags entstehen, ist der Auftraggeber nicht berechtigt, die Zahlung eines anderen Auftrags zu verweigern. Eine Aufrechnung ist nur zulässig, wenn der zur Aufrechnung gestellte Anspruch des Auftraggebers unbestritten oder rechtskräftig festgestellt ist.</li>
<li>Ansprüche des Auftraggebers wegen Mängeln verjähren, sofern nicht Arglist vorliegt, in einem Jahr ab dem gesetzlichen Verjährungsbeginn.</li>
</ol>
<h2>VII. Haftung</h2>
<ol type="1">
<li>Für Schadensersatz, gleich aus welchem Rechtsgrund, haftet das Unternehmen nur bei Vorsatz, grober Fahrlässigkeit und Fehlen einer vom Unternehmen garantierten Beschaffenheit des Werkes. Dies gilt auch für die Haftung für Erfüllungs- bzw. Verrichtungsgehilfen und gesetzliche Vertreter des Unternehmens. In allen anderen Fällen haftet das Unternehmen nur dann, wenn wesentliche Vertragspflichten (Kardinalspflichten) verletzt sind.</li>
<li>Ist der Auftraggeber Unternehmer ist der Schadensersatz auf den typischerweise vorhersehbaren Schaden begrenzt. Ein Ausgleich von atypischen oder nicht vorhersehbaren Schäden findet nicht statt. Der Anspruch ist der Höhe nach auf einen Betrag von 5.000,00 EUR pro Schadensfall begrenzt.</li>
<li>Der Ausschluss und die Begrenzung der Haftung gilt nicht für Schäden des Auftraggebers aus der Verletzung von Leben, Körper, Gesundheit.</li>
</ol>
<h2>VIII. Rücktrittsrecht</h2>
<ol type="1">
<li>Das Unternehmen behält sich das Recht vor, auch nach Vertragsabschluss die Übersetzung aus Gründen abzulehnen, die für das Unternehmen eine Vertragsdurchführung unzumutbar machen. Dies ist insbesondere dann der Fall, wenn die Übersetzung urheber-, wettbewerbs-, presse-, strafrechtliche oder sonstige rechtliche Bestimmungen verletzt. Der Auftraggeber hat das Recht, über die Gründe der Zurückweisung informiert zu werden. Trifft das Unternehmen an der Unzumutbarkeit der Vertragsdurchführung kein Verschulden, so sind von diesem Rückerstattungsanspruch Kosten in Abzug zu bringen, die bei dem Unternehmen bereits entstanden sind. Weitergehende Ansprüche des Auftraggebers sind ausgeschlossen. Sind in einem solchen Fall seitens des Auftraggebers noch keine Zahlungen erfolgt, so kann das Unternehmen den Ersatz für bereits entstandene Kosten verlangen.</li>
<li>Soweit der Vertragsschluss unter Verwendung von Fernkommunikationsmitteln geschlossen wird, verzichtet der Auftraggeber auf das ihm gegebenenfalls zustehende Widerrufsrecht für den Fall, dass das Unternehmen mit der Leistungserbringung bereits begonnen hat und der Auftraggeber hiervon verständigt wurde.</li>
</ol>
<h2>IX. Kündigung</h2>
<ol type="1">
<li>Die Kündigung des Vertrages durch den Auftraggeber muss schriftlich erfolgen.</li>
<li>Hinsichtlich der Vergütung bei Vertragskündigung gilt die Regelung des § 649 BGB.</li>
</ol>
<h2>IX. Preise / Zahlungen</h2>
<ol type="1">
<li>Für die Verträge gelten die im Zeitpunkt des Vertragsabschlusses jeweils gültigen Preislisten des Unternehmens, sofern einzelvertraglich nichts anderes vereinbart wurde. Alle Preise verstehen sich netto zuzüglich gesetzlicher Umsatzsteuer.</li>
<li>Rechnungen sind sofort nach ihrem Erhalt ohne jeden Abzug auf ein vom Unternehmen angegebenes Konto zu leisten. Der Abzug von Skonto bedarf einer besonderen schriftlichen Vereinbarung.</li>
<li>Das Unternehmen hat neben dem vereinbarten Honorar Anspruch auf Erstattung der tatsächlich angefallenen und mit dem Auftraggeber abgestimmten Aufwendungen.</li>
<li>Das Unternehmen kann bei umfangreichen Übersetzungen einen angemessenen Vorschuss verlangen.</li>
<li>Das Unternehmen ist berechtigt, Vorauskasse zu verlangen und erst nach Erhalt des Rechnungsbetrages Leistungen zu erbringen.</li>
<li>Die Übersetzung bleibt bis zur vollständigen Bezahlung Eigentum des Unternehmens. Dem Unternehmen steht bis zur vollständigen Bezahlung der Vergütung ein Zurückbehaltungsrecht an der Übersetzung zu.</li>
<li>Kommt der Auftraggeber in Verzug, so hat er ab diesem Zeitpunkt Verzugszinsen in Höhe von 8 Prozentpunkten über dem Basiszinssatz zu zahlen, soweit das Unternehmen nicht einen höheren Schaden nachweist. Für jede Mahnung nach Verzugseintritt entstehen Mahngebühren in Höhe von 10,00 EUR.</li>
</ol>
<h2>X. Erfüllungsort und Gerichtsstand</h2>
<ol type="1">
<li>Erfüllungsort und Gerichtsstand ist der Sitz des Unternehmens.</li>
<li>Für abgeschlossene Verträge und die sich hieraus ergebenden Ansprüche gilt deutsches Recht</li>
</ol>
<h2>XI. Sonstiges</h2>
<ol type="1">
<li>Änderungen oder Ergänzungen des Vertrages bedürfen zu ihrer Rechtswirksamkeit der Schriftform. Dies gilt auch für die Änderung des Schriftformerfordernisses selbst. Mündliche Nebenabreden wurden nicht getroffen.</li>
<li>Die Wirksamkeit dieser Auftragsbedingungen wird durch die Nichtigkeit oder Unwirksamkeit einzelner Bestimmungen nicht berührt.</li>
</ol>
</div>]]></descriptionTerms>
    <imageSubText3><![CDATA[Competition law]]></imageSubText3>
    <imageTextTitle><![CDATA[SPECIALIST GERMAN<>ENGLISH TRANSLATIONS]]></imageTextTitle>
    <imageSubText><![CDATA[Trademark law]]></imageSubText>
    <imageSubText2><![CDATA[Copyright law]]></imageSubText2>
  </Home>
  <Home id="1133" key="6fe1c7bb-585a-44dd-9b8d-1323bc3e51c2" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-09-30T12:24:00" updateDate="2022-01-19T09:44:24" nodeName="DE" urlName="de" path="-1,1133" isDoc="" nodeType="1060" creatorName="Nick" writerName="John Ailsby" writerID="1" template="1056" nodeTypeAlias="Home">
    <siteLogo><![CDATA[1106]]></siteLogo>
    <emailErrorMessage><![CDATA[Error message]]></emailErrorMessage>
    <umbEmailTo><![CDATA[post@ailsby.com]]></umbEmailTo>
    <siteTitle><![CDATA[Ailsby Limited | Language services]]></siteTitle>
    <emailSendingMessage><![CDATA[Nachricht wird gesendet...]]></emailSendingMessage>
    <siteDescription><![CDATA[Ailsby Limited specialists in intellectual property law translations. Established in 2004]]></siteDescription>
    <emailSuccessMessage><![CDATA[Vielen Dank! Wir werden zeitnah auf Ihnen zurückkommen.]]></emailSuccessMessage>
    <service1><![CDATA[<h3 style="text-align: center;">Qualität</h3>
<p style="text-align: left;">Seit 2004 bildet das Themengebiet Marken-, Urheber- und Wettbewerbsrecht den Kern unserer Arbeit. Unser Fachwissen ist Ihr Garant für höchste Übersetzungsqualität. Wir sorgen für:</p>
<ul style="text-align: left;">
<li>reibungslose Kommunikation im anwaltlichen Tagesgeschäft</li>
<li>minimalen Aufwand bei der Prüfung übersetzter Schriftsätze</li>
<li>zufriedene Mandanten</li>
</ul>]]></service1>
    <service3><![CDATA[<h3>Kosteneffizienz</h3>
<p style="text-align: left;">Auch Kosten, die an den Mandanten durchgereicht werden, spielen eine Rolle. Dank der effizienten Prozesse und der umfassenden Ressourcen, die wir uns im Laufe der Jahre erarbeitet und aufgebaut haben, können wir unsere Kernleistung, die „inhaltliche Übersetzung" zu einem besonders günstigen Preis anbieten:</p>
<ul>
<li style="text-align: left;">hohe Qualität, schnelle Lieferung, vernünftige Preise</li>
<li style="text-align: left;">speziell für Übersetzungen im Urheber-, Marken- und Wettbewerbsrecht</li>
</ul>]]></service3>
    <serviceIcon1><![CDATA[trophy]]></serviceIcon1>
    <service2><![CDATA[<h3 style="text-align: center;">EilbedÜrftigkeit</h3>
<p style="text-align: left;">Uns ist bewusst, dass Termindruck Ihr ständiger Begleiter ist. Wenn es bspw. darum geht, eine einstweilige Verfügung zu erwirken, eine Schutzschrift einzureichen, auf eine Abmahnung zu reagieren, stehen wir bereit:</p>
<ul>
<li style="text-align: left;">Ihr Zeitfenster für die Erstellung eines Schriftsatzes zu erweitern</li>
<li style="text-align: left;">Rohfassungen zu übersetzen und später anzupassen</li>
<li style="text-align: left;">Ihnen unnötig lange Lieferzeiten zu ersparen</li>
</ul>]]></service2>
    <serviceIcon3><![CDATA[euro]]></serviceIcon3>
    <position1><![CDATA[GESCHÄFTSFÜHRER]]></position1>
    <teamMember1Details><![CDATA[Adam ist verantwortlich für die praktische Durchführung aller Übersetzungen von der Rohübersetzung bis zur Qualitätskontrolle. Zu seinen Kernaufgaben zählen außerdem die kontinuierliche Weiterbildung, Datenbankpflege, Terminologiearbeit und vieles mehr.]]></teamMember1Details>
    <teamMember2Details><![CDATA[John sorgt für beständig hohe Servicequalität. Er kümmert sich um den Kundenkontakt, das Auftragswesen und Ressourcenmanagement sowie alle technischen und buchhalterischen Fragen. Außerdem ist John für die Endkontrolle jeder Übersetzung hinsichtlich Rechtschreibung, Grammatik, Einheitlichkeit und Formatierung zuständig.]]></teamMember2Details>
    <name1><![CDATA[Adam Ailsby]]></name1>
    <teamMember2Image><![CDATA[1170]]></teamMember2Image>
    <name2><![CDATA[John Ailsby]]></name2>
    <sectionTitle><![CDATA[Die Partner]]></sectionTitle>
    <sectionDescription><![CDATA[Ailsby Ltd steht für fachlich einwandfreie Übersetzungen und erstklassigen Kundenservice. Fundiertes Fachwissen, hohe Effizienz und absolute Zuverlässigkeit sind die Dinge, die unsere Kunden an uns zu schätzen wissen. Unsere Übersetzungen rücken die Qualität Ihrer Arbeit ins rechte Licht.]]></sectionDescription>
    <position2><![CDATA[GESCHÄFTSFÜHRER]]></position2>
    <teamMember1><![CDATA[1166]]></teamMember1>
    <phoneFromUK><![CDATA[07921 523376]]></phoneFromUK>
    <bostonAddress><![CDATA[Ailsby Ltd, The Golf Yard, Boston, Lincolnshire. PE21 0DP]]></bostonAddress>
    <phoneFromGermany><![CDATA[+44 (0) 7921 523376]]></phoneFromGermany>
    <sectionTitleContact><![CDATA[Kontakt]]></sectionTitleContact>
    <sectionDescriptionContact><![CDATA[Zu unseren Stammkunden zählen renommierte Anwaltskanzleien, Rechteinhaber und Branchenverbände. Kontaktieren Sie uns, wenn Sie sprachliche Unterstützung benötigen.]]></sectionDescriptionContact>
    <belfastAddress><![CDATA[Ailsby Ltd, 698 Sainthill Road, Belfast BT6 0BZ]]></belfastAddress>
    <descriptionLegal><![CDATA[<div class="contact-details">
<h4>Büros:</h4>
<p><strong>Belfast:</strong><br />698 Ravenhill Road, Belfast BT6 0BZ</p>
<p><strong>Boston:</strong><br />The Golf Yard, Boston, Lincolnshire. PE21 0DP</p>
<h4>Telefon:</h4>
<p>+44 (0) 7921 523376</p>
</div>]]></descriptionLegal>
    <descriptionTerms><![CDATA[<p class="lead">A copy of our terms and conditions in English is available on request.</p>
<h2>I. Gegenstand des Unternehmens</h2>
<p>Der Gegenstand des Unternehmens umfasst die Übersetzung  von  schriftlichen und mündlichen Texten (Dolmetschen), sonstige Sprachdienstleistungen sowie damit verwandte und verbundene Leistungen.</p>
<h2>II. Geltungsbereich</h2>
<ol type="1">
<li>Für alle mit dem Unternehmen abzuschließenden / abgeschlossenen erstmaligen, laufenden und künftigen Geschäfte gelten ausschließlich die nachfolgenden Bedingungen. Das Unternehmen erkennt von den vorliegenden Allgemeinen Geschäftsbedingungen abweichende Bedingungen des Auftraggebers nicht an. Diese werden selbst dann nicht Vertragsbestandteil, wenn das Unternehmen ihnen nicht ausdrücklich widerspricht.</li>
<li>Mit der Erteilung des Auftrags wird die ausschließliche Gültigkeit dieser Geschäftsbedingungen durch den Auftraggeber anerkannt.</li>
</ol>
<h2>III. Vertragsabschluss /-durchführung</h2>
<ol type="1">
<li>Der Vertrag kommt entweder mit Herrn Adam Ailsby oder Herrn John Ailsby zustande.</li>
<li>Der Vertrag zwischen Herrn Adam Ailsby bzw. Herrn John Ailsby und dem Auftraggeber kommt entweder durch eine schriftliche Auftragsbestätigung per Brief, Fax oder E-Mail seitens Herrn Adam Ailsby oder Herrn John Ailsby oder durch Erfüllung des Auftrages durch Herrn Adam Ailsby oder Herrn John Ailsby zustande.</li>
<li>Das Unternehmen hat das Recht, noch nicht bestätigte Aufträge auch ohne Angabe von Gründen abzulehnen.</li>
<li>Vom Auftraggeber mündliche erteilte Aufträge und Auftragsänderungen bereits bestätigter Aufträge werden nur wirksam, wenn sie von Herrn Adam Ailsby oder Herrn John Ailsby schriftlich bestätigt werden.</li>
<li>Für die Verträge gelten die im Zeitpunkt des Vertragsschlusses jeweils gültigen Preislisten des Unternehmens.</li>
<li>Besteht der Auftraggeber aus einer Personenmehrheit, so ist jede einzelne Person dieser Personenmehrheit zur Entgegennahme von rechtsgestaltenden Erklärungen bzw. Entgegennahme mit Erfüllungswirkung berechtigt.</li>
<li>Vertragssprache ist deutsch.</li>
</ol>
<h2>IV. Pflichten des Auftraggebers</h2>
<ol type="1">
<li>Der Auftraggeber hat das Unternehmen rechtzeitig über die gewünschte Ausführungsform der Übersetzung zu unterrichten, insbesondere hat er Informationen zum Verwendungszweck, Lieferung auf Datenträgern, Anzahl der Ausfertigungen, Druckreife, äußere Form der Übersetzungen zu erteilen.</li>
<li>Ist die Übersetzung für den Druck bestimmt, überlässt der Auftraggeber dem Unternehmen einen Korrekturabzug rechtzeitig vor Drucklegung, sodass das Unternehmen eventuelle Fehler beseitigen kann. Namen und Zahlen sind vom Auftraggeber zu überprüfen.</li>
<li>Informationen und Unterlagen, die zur Erstellung der Übersetzung notwendig sind, stellt der Auftraggeber dem Unternehmen bei Erteilung des Auftrags zur Verfügung.</li>
<li>Der Auftraggeber trägt das Risiko für die Übermittlung der Übersetzung, soweit nicht aus dem Risikobereich des Unternehmens Probleme bei der Übermittlung auftreten.</li>
<li>Können Übersetzungsaufträge aus Gründen, die im Risikobereich des Auftraggebers liegen, nicht oder nur fehlerhaft durchgeführt werden, wird die Übersetzung dem Auftraggeber gleichwohl in Rechnung gestellt. Trifft das Unternehmen keinerlei Verschulden an der fehlerhaften Ausführung oder der Nichtausführung, so hat der Auftraggeber keine Ansprüche gegen das Unternehmen.</li>
<li>Der Auftraggeber ist nicht berechtigt, ohne ausdrücklich vorherige Zustimmung des Unternehmens Recht oder Pflichten aus dem Vertrag an Dritte abzutreten oder zu übertragen.</li>
<li>Der Auftraggeber stellt das Unternehmen von allen Kosten und Ansprüchen Dritter frei, die aus der Verletzung urheber-, wettbewerbs-, presse-, strafrechtlicher oder sonstiger rechtlicher Bestimmungen bei dem Unternehmen entstehen können.</li>
<li>Für die Abnahme der Übersetzung gilt § 640 BGB. Die Abnahme gilt als erfolgt, wenn der Auftraggeber die Übersetzung nicht binnen 10 Werktagen ab Mitteilung des Unternehmens an den Auftraggeber über die vertragsgemäße Erstellung der Übersetzung abnimmt.</li>
</ol>
<h2>V. Leistungserbringung / Mitwirkung Dritter</h2>
<ol type="1">
<li>Das Unternehmen verpflichtet sich, Stillschweigen über alle Tatsachen zu wahren, die ihm im Zusammenhang mit einer Tätigkeit für den Auftraggeber bekannt werden.</li>
<li>Bei elektronischer Übertragung der Übersetzungsleistungen verpflichtet sich das Unternehmen, alle typischerweise üblichen Vorkehrungen gegen Datenmissbrauch oder Viren zu treffen.</li>
<li>Das Unternehmen behält sich ein etwa entstandenes Urheberrecht vor.</li>
<li>Das Unternehmen ist berechtigt, zur Ausführung des Auftrags Dritte heranzuziehen. Bei Heranziehung von Dritten hat das Unternehmen dafür zu sorgen, dass sich diese zur Verschwiegenheit entsprechend Nr. 1. verpflichten.</li>
</ol>
<h2>VI. Gewährleistung / Haftung</h2>
<ol type="1">
<li>Der Auftraggeber ist verpflichtet, die Übersetzung unverzüglich nach Übergabe zu prüfen. Der Auftraggeber, der Verbraucher ist, hat offensichtliche Mängel spätestens innerhalb von zwei Wochen ab Übergabe schriftlich zu reklamieren, wobei die fristgemäße Absendung der Anzeige durch den Auftraggeber für die Wahrung der Frist ausreichend ist. Der Auftraggeber, der Unternehmer ist, ist verpflichtet offensichtliche Mängel spätestens innerhalb einer Woche ab Übergabe schriftlich zu reklamieren, wobei es für die Fristwahrung auf den Eingang der Anzeige bei dem Unternehmen ankommt. Erfolgt die Reklamation nicht rechtzeitig, entfallen die Gewährleistungsansprüche des Auftraggebers. Für nicht offensichtliche Mängel entspricht die Rügefrist der gesetzlichen Verjährungsfrist.</li>
<li>Bei Vorliegen eines Mangels ist das Unternehmen berechtigt, Nacherfüllung vorzunehmen. Erst wenn die Nacherfüllung unmöglich, mindestens zweimal fehlgeschlagen oder unzumutbar verzögert ist oder seitens des Unternehmens trotz angemessener Fristsetzung durch den Auftraggeber verweigert wurde, kann der Auftraggeber wahlweise vom Vertrag zurücktreten oder die Vergütung mindern. Das Recht auf Selbstvornahme oder Mängelbeseitigung durch Dritte ist ausgeschlossen.</li>
<li>Ein Mangel im vorgenannten Sinne liegt nicht vor, wenn allein die Darstellung der Übersetzung beanstandet wird.</li>
<li>Sollten Mängel bei der Ausführung eines Auftrags entstehen, ist der Auftraggeber nicht berechtigt, die Zahlung eines anderen Auftrags zu verweigern. Eine Aufrechnung ist nur zulässig, wenn der zur Aufrechnung gestellte Anspruch des Auftraggebers unbestritten oder rechtskräftig festgestellt ist.</li>
<li>Ansprüche des Auftraggebers wegen Mängeln verjähren, sofern nicht Arglist vorliegt, in einem Jahr ab dem gesetzlichen Verjährungsbeginn.</li>
</ol>
<h2>VII. Haftung</h2>
<ol type="1">
<li>Für Schadensersatz, gleich aus welchem Rechtsgrund, haftet das Unternehmen nur bei Vorsatz, grober Fahrlässigkeit und Fehlen einer vom Unternehmen garantierten Beschaffenheit des Werkes. Dies gilt auch für die Haftung für Erfüllungs- bzw. Verrichtungsgehilfen und gesetzliche Vertreter des Unternehmens. In allen anderen Fällen haftet das Unternehmen nur dann, wenn wesentliche Vertragspflichten (Kardinalspflichten) verletzt sind.</li>
<li>Ist der Auftraggeber Unternehmer ist der Schadensersatz auf den typischerweise vorhersehbaren Schaden begrenzt. Ein Ausgleich von atypischen oder nicht vorhersehbaren Schäden findet nicht statt. Der Anspruch ist der Höhe nach auf einen Betrag von 5.000,00 EUR pro Schadensfall begrenzt.</li>
<li>Der Ausschluss und die Begrenzung der Haftung gilt nicht für Schäden des Auftraggebers aus der Verletzung von Leben, Körper, Gesundheit.</li>
</ol>
<h2>VIII. Rücktrittsrecht</h2>
<ol type="1">
<li>Das Unternehmen behält sich das Recht vor, auch nach Vertragsabschluss die Übersetzung aus Gründen abzulehnen, die für das Unternehmen eine Vertragsdurchführung unzumutbar machen. Dies ist insbesondere dann der Fall, wenn die Übersetzung urheber-, wettbewerbs-, presse-, strafrechtliche oder sonstige rechtliche Bestimmungen verletzt. Der Auftraggeber hat das Recht, über die Gründe der Zurückweisung informiert zu werden. Trifft das Unternehmen an der Unzumutbarkeit der Vertragsdurchführung kein Verschulden, so sind von diesem Rückerstattungsanspruch Kosten in Abzug zu bringen, die bei dem Unternehmen bereits entstanden sind. Weitergehende Ansprüche des Auftraggebers sind ausgeschlossen. Sind in einem solchen Fall seitens des Auftraggebers noch keine Zahlungen erfolgt, so kann das Unternehmen den Ersatz für bereits entstandene Kosten verlangen.</li>
<li>Soweit der Vertragsschluss unter Verwendung von Fernkommunikationsmitteln geschlossen wird, verzichtet der Auftraggeber auf das ihm gegebenenfalls zustehende Widerrufsrecht für den Fall, dass das Unternehmen mit der Leistungserbringung bereits begonnen hat und der Auftraggeber hiervon verständigt wurde.</li>
</ol>
<h2>IX. Kündigung</h2>
<ol type="1">
<li>Die Kündigung des Vertrages durch den Auftraggeber muss schriftlich erfolgen.</li>
<li>Hinsichtlich der Vergütung bei Vertragskündigung gilt die Regelung des § 649 BGB.</li>
</ol>
<h2>IX. Preise / Zahlungen</h2>
<ol type="1">
<li>Für die Verträge gelten die im Zeitpunkt des Vertragsabschlusses jeweils gültigen Preislisten des Unternehmens, sofern einzelvertraglich nichts anderes vereinbart wurde. Alle Preise verstehen sich netto zuzüglich gesetzlicher Umsatzsteuer.</li>
<li>Rechnungen sind sofort nach ihrem Erhalt ohne jeden Abzug auf ein vom Unternehmen angegebenes Konto zu leisten. Der Abzug von Skonto bedarf einer besonderen schriftlichen Vereinbarung.</li>
<li>Das Unternehmen hat neben dem vereinbarten Honorar Anspruch auf Erstattung der tatsächlich angefallenen und mit dem Auftraggeber abgestimmten Aufwendungen.</li>
<li>Das Unternehmen kann bei umfangreichen Übersetzungen einen angemessenen Vorschuss verlangen.</li>
<li>Das Unternehmen ist berechtigt, Vorauskasse zu verlangen und erst nach Erhalt des Rechnungsbetrages Leistungen zu erbringen.</li>
<li>Die Übersetzung bleibt bis zur vollständigen Bezahlung Eigentum des Unternehmens. Dem Unternehmen steht bis zur vollständigen Bezahlung der Vergütung ein Zurückbehaltungsrecht an der Übersetzung zu.</li>
<li>Kommt der Auftraggeber in Verzug, so hat er ab diesem Zeitpunkt Verzugszinsen in Höhe von 8 Prozentpunkten über dem Basiszinssatz zu zahlen, soweit das Unternehmen nicht einen höheren Schaden nachweist. Für jede Mahnung nach Verzugseintritt entstehen Mahngebühren in Höhe von 10,00 EUR.</li>
</ol>
<h2>X. Erfüllungsort und Gerichtsstand</h2>
<ol type="1">
<li>Erfüllungsort und Gerichtsstand ist der Sitz des Unternehmens.</li>
<li>Für abgeschlossene Verträge und die sich hieraus ergebenden Ansprüche gilt deutsches Recht</li>
</ol>
<h2>XI. Sonstiges</h2>
<ol type="1">
<li>Änderungen oder Ergänzungen des Vertrages bedürfen zu ihrer Rechtswirksamkeit der Schriftform. Dies gilt auch für die Änderung des Schriftformerfordernisses selbst. Mündliche Nebenabreden wurden nicht getroffen.</li>
<li>Die Wirksamkeit dieser Auftragsbedingungen wird durch die Nichtigkeit oder Unwirksamkeit einzelner Bestimmungen nicht berührt.</li>
</ol>]]></descriptionTerms>
    <imageSubText3><![CDATA[Wettbewerbsrecht]]></imageSubText3>
    <imageTextTitle><![CDATA[Deutsch<>Englisch Fachübersetzungen]]></imageTextTitle>
    <imageSubText><![CDATA[Markenrecht]]></imageSubText>
    <imageSubText2><![CDATA[Urheberrecht]]></imageSubText2>
  </Home>
</root>